{% extends 'base.html.twig' %}

{% block body %}
    <table>
    {% for user in users %}
        <tr>
            <td>
                {{ user.id }}
            </td>
            <td>
                {{ user.name }}
            </td>
            <td>
                {{ user.email }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td>
                There is no users.                
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
